<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Parque</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/Styles/add.css" />
	</head>
	<body>
		<header>
			<nav class="navbar bg-light">
				<div class="container-fluid">
					<a
						style="margin: auto"
						class="navbar-brand menu-link"
						href="/menu.html"
						>🌳 Parque 🌳</a
					>
				</div>
			</nav>
		</header>
		<a href="http://localhost:8080/menu/gestor.html">Regresar</a>
		<h1>Gestor consulta</h1>
		<main>
			<% response.forEach(function(prod){ %>
			<div class="card">
				<p>Nombre: <%= prod.nombre_gestor %></p>
				<p>Codigo de entrada: <%= prod.cod_entrada %></p>
				<p>Numero ss: <%= prod.numero_ss %></p>
				<p>Telefono: <%= prod.telefono %></p>
				<p>Sueldo: <%= prod.sueldo %></p>
			</div>
			<% }) %>
		</main>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"
		></script>
	</body>
</html>
